.card{
  width: 342px;
  min-height: 309px;
  display: flex;
  flex-direction: column;
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.movie__info{
  display: flex;
  justify-content: space-between;
  padding: 18px;
}
.movie__title{
  font-size: 15px;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  align-self: center;
}
.movie__duration{
  font-size: 13px;
  text-align: right;
  color: #A0A0A0;
  align-self: center;
  margin: 0;
}
.movie__preview{
  height: 190px;
  width: 100%;
}
.movie__button{
  border-radius: 30px;
  width: 100px;
  height: 29px;
  border: 0;
  transition: .7s;
}
.movie__button_unchecked{
  background: #F9F9F9;
  font-size: 12px;
}
.movie__button_checked{
  background-image: url('../../../images/checked.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: #FF3055;
}
.movie__button_unchecked::after{
  content: 'Сохранить';
}
.movie__button:hover{
  scale: 1.05;
  cursor: pointer;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.1);
}
.button__container{
  padding: 18px 0;
  display: flex;
  justify-content: center;
}