.header{
  height: 74px;
  width: 100%;
  padding: 18px 70px;
  display: flex;
  box-sizing:border-box;
  justify-content: space-between;  
  z-index: 1;
  align-items: center;
}

.header_page_main{
  position: absolute;
}
.header__logo{
  border-radius: 50%;
}
.header__logo:hover{
  scale: 1.1;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
  transition: .7s;
  cursor: pointer;
}
.header__info{
  display: flex;
  width: clamp(381px,30vw,420px);
  gap:clamp(20px,6vw,50px);
  align-items: center;
}

.header__nav{
  max-height: 32px;
  width: clamp(231px,22vw,250px);
  display: flex;
  align-items: center;
  gap:18px;
  font-size: 14px;
  justify-content: space-around;
}
.header__nav_page_main{
  width: unset;
  gap:30px;
}
.header__profile{
  height: 32px;
  border-radius: 40px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  width: clamp(100px,9vw,120px);
  display: flex;
  font-size: 13px;
  gap:clamp(7px,2vw,10px);
  padding-left: 7px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transition: .7s;
}
.profile__name{
  color: black;
}
.profile__name:visited{
  color: black;
  text-decoration: none;
}
.header__profile:hover{
  scale: 1.1;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.profile__image{
  height: 26px;
  width: 26px;
  background: #F9F9F9;
  border-radius: 50%;
}
.nav__item{
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: black;
}
.nav__button{
  height: 32px;
  width: 76px;
  background-color: #2BE080;
  border-radius: 3px;
  border: none;
  transition: .4s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__button:visited {
  color: black;
}
.nav__item:visited{
  color: black;
}
.nav__button:hover{
  scale: 1.1;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.nav__item_white{
  color: #fff;
}
.nav__item_white:visited{
  color: #fff;
}

.header__burger{
  display: none;
}
.header__menu{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  transition: .4s;
  z-index: 2;
}

@media screen and (max-width: 1024px)   {
  .header{
    padding: 18px 30px;
  }
  .nav__item{
    font-size: 12px;
  }
  .nav__button{
    font-size: 12px;
  }
  .header__info{
    display: none;
  }
  .header__burger{
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    height: 43px;
    flex-direction: column;
    gap: 6px;
    z-index: 3;
    position: fixed;
    right: 14px;
  }
  .burger__line{
    border-bottom: 3px solid black;
    width: 22px;
    transition: .4s;
  }
  .burger__line_active:nth-child(2){
    opacity: 0;
    transition: .4s;
  }
  .burger__line_active:first-child{
    transform:translateY(5px) rotate(45deg);
  }
  .burger__line_active:nth-child(3){
    transform:translateY(-12px) rotate(-45deg);
  }
  .header__wrap{
    position: fixed;
    right: -50%;
    top: 0;
    left: unset;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    opacity: 0;
    transition: .4s;
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 90px;
    box-sizing: border-box;
  }
  .header__menu_active{
    opacity: 1;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .header__wrap_active{
    opacity: 1;
    right: 0px;
  }
  .nav__button{
    height: 26px;
    width: 54px;
    background-color: #2BE080;
    border-radius: 3px;
    border: none;
    transition: .4s;
    font-size: 10px;
  }
  .nav__item{
    font-size: 10px;
  }
  .header__nav_page_main{
    gap: 14px;
  }
  .header__menu-container{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    gap: 26px;
    align-items: center;
  }
  .nav__menu-item{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .nav__menu-item_active{
    border-bottom: 2px solid black;
  }
  .nav__menu-item:visited{
    color: #000;
  }
}

@media screen and (max-width: 720px)   {
  .header_page_main{
    padding: 18px 14px;
  }
  .header{
    padding: 18px 14px;
  }
  .header__info{
    display: none;
  }
  .header__burger{
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    height: 43px;
    flex-direction: column;
    gap: 6px;
    z-index: 2;
  }
  .header__burger_active{
    position: fixed;
    right: 14px;
  }
  .header__wrap{
    right: 0;
    top: 0;
    width: 100%;
    padding: 46px;
  }
  .header__menu-container{
    padding-top: 98px;
    gap: 24px;
  }
  .header__menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 0;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    transition: .4s;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__menu_active{
    min-height: 100vh;
    opacity: 1;
  }
  .nav__button{
    height: 26px;
    width: 54px;
    background-color: #2BE080;
    border-radius: 3px;
    border: none;
    transition: .4s;
    font-size: 10px;
  }
  .nav__item{
    font-size: 10px;
  }
  .header__nav_page_main{
    gap: 14px;
  }
}

